{
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"semi": false,
	"proseWrap": "preserve",
	"insertPragma": false,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"jsxBracketSameLine": false,
	"printWidth": 180
}
